@CHARSET "UTF-8";

.gallery { position: relative; display: inline-block; *display: inline; *zoom: 1; width: 700px; height: 400px; border: 1px lightgray solid; border-radius: 10px; padding: 8px; vertical-align: top; }
.gallery figure { display: block; width: 100%; height: 100%; overflow: hidden; }
.gallery figure img { display: block; top: 8px; left: 8px; width: 700px; height: 400px; }
.gallery .layer { position: absolute; width: 700px; height: 80px; bottom: 8px; background-color: rgba(0, 0, 0, 0.5); text-align: center; background-image: url("/static/qingshiling/images/opacity-50.png")\9; }
.gallery .layer img { width: 100px; height: 57px; margin: 11px 10px; }
.gallery .layer img:hover { border: 2px yellow solid; margin: 9px 8px; }
.gallery .layer img.active { border: 2px yellow solid; margin: 9px 8px; }

.quicklunch { display: inline-block; *display: inline; *zoom: 1; width: 180px; height: 280px; padding: 8px; vertical-align: top; text-align: center; }
.quicklunch hr { margin: 0; border-style: dashed; border-color: silver; }
.quicklunch p { margin: 11px 0; height: 110px; letter-spacing: 3px; }
.quicklunch em { display: block; color: gray; margin-bottom: 10px; }
.quicklunch a.go-button { text-align: center; display: inline-block; width: 155px; height: 39px; line-height: 40px; background: url("/static/qingshiling/images/go-button.png") 0 -39px no-repeat; font-size: 15px; color: black; text-shadow: 2px 1px 3px darkgray; }
.quicklunch a.go-button:hover {  background: url("/static/qingshiling/images/go-button.png") 0 0 no-repeat; }

.topics { margin: 20px 0px; }
.topics header { border-bottom: 1px silver solid; }
.topics h1 { font-size: 20px; font-weight: normal; border-left: 5px orange solid; padding-left: 10px; margin: 10px 0; }
.topics h2 { font-size: 18px; font-weight: normal; }
.topics ul { }
.topics ul li { list-style: inside circle; padding: 10px 30px; border-bottom: 1px silver dashed; }
.topics ul li:nth-child(odd) { background-color: #EEEEFF; }
.topics ul li:nth-child(even) { background-color: #FFFFEE; }
.topics a:link:hover, .topics a:visited:hover { color: blue; }
.topics footer { text-align: right; margin: 10px; }
.topics footer a { color: gray; font-size: 12px; }